<div class="container">
  {{#if messages.success}}
    <div class="text-success">
      {{#each messages.success}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.error}}
    <div class="text-danger">
      {{#each messages.error}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  {{#if messages.info}}
    <div class="text-info">
      {{#each messages.info}}
        <div>{{msg}}</div>
      {{/each}}
    </div>
  {{/if}}
  <div class="row">
    <div class="col-sm">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button">View details</a>
    </div>
    <div class="col-sm">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button">View details</a>
    </div>
    <div class="col-sm">
      <h3>Heading</h3>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.</p>
      <a href="#" role="button">View details</a>
    </div>
  </div>
</div>

<div class="recording">
  <iframe src="https://www.webrtc-experiment.com/getSourceId/" style="display: none;"></iframe><section class="experiment">
    <h2 class="header">
        Record Audio ( <a href="http://recordrtc.org/" title="API Documentation">RecordRTC.org</a> )
    </h2>

    <div class="inner">
      <audio id="audio" autoplay="" controls=""></audio>
      <button id="record-audio">Record</button>
      <button id="pause-resume-audio" disabled="">Pause</button>
      <button id="stop-recording-audio" disabled="">Stop</button>
      <h2 id="audio-url-preview"></h2>
    </div>




  <script src="https://cdn.webrtc-experiment.com/getScreenId.js"></script>
</div>
